/* Web site color pallete  */
:root {
    --bright:tomato;
    --dark: darkorchid;
    --middle: cornflowerblue;
}

*{
    box-sizing: border-box;
    color: white;
    margin: 0;
    line-height:1.5;
    font-size: 16px;
}

h1,
h2
{
    font-family:'Nunito', sans-serif;
}


body{
    background-color: black;
    }

a {
    text-decoration: none;
}

/* header styling */

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
}

header> h1 {
    margin-bottom: -3%;
    z-index: 1;
    margin-left: 2%;
    font-size: 3em;
}
    

 header>div{
    width:100%;
    min-height: 40px;
}
header> ul{
    
    margin-bottom: 2%;
    margin-top: -4%;
    display: flex;
    justify-content:flex-end;
    flex-shrink: 1;
    list-style: none;
}

header> ul >li{
    height: 50px;
    width:100px;
    margin-right: 10px;
    margin-top: 0px;
    background-color: rgb(73, 112, 107);
    transform: skew(-11deg);
    
}

header ul li:hover {
    background-color: rgb(154, 204, 55);
    border: white 2px dotted;
    color: white;
}



header>ul> li> a {

background-color: transparent;
font-size: 1em;
font-weight: 800;
font-family: 'Nunito', sans-serif;
padding: 10%;

}

/* Header stripes */
.stripe1{
    background-color: var(--bright);
    margin-top: -1%;
    
}

.stripe2{
    background-color: var(--middle);
}

.stripe3{
    background-color: var(--dark);
    margin-bottom: -1%;
}

/* Main body styling */
main{
    display: flex;
    flex-wrap: wrap;
    
    
}

/* Hero Banner */
body> header> h1{
    color: white;
    font-size: 200%;
    
}
.hero_banner{
     background-image: url("../pics/hero.png");
     width: 100%;
     
     min-height: 100px;
     background-position: center;
     text-align: right;
     margin-top: 0;
     
}
.hero_banner h2{
    margin-right: 2%;
    font-size: 2rem;

}

/* sections of the website */
.standard{
    color: white;
    background-color: rgb(34, 32, 32, 0.7);
    padding: 10px; 
    margin: 0.4%
   
    
}

.standard >a >div{
    background-color: rgb(47, 53, 52);
    max-width: fit-content;
    padding: 1%;
    border-left: tomato 2px solid; 
     
}

main>section>img {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 2%;
    
}
.bigbox{
    width:100%;
    min-height: auto;
    border-left: solid var(--dark) 1px;
    border-top:var(--dark) 1px solid;
    border-bottom: var(--dark) 1px solid;
    border-right: 20px var(--bright) solid;
    
      
}
.bigbox h2{
    font-size: 2rem;
}

.box2{
    width:100%;
    min-height: 30vh;
    
    background-image: url("../pics/lights.jpg");
    background-size: cover;
    border-left: solid var(--bright) 1px;
    border-top: solid var(--bright) 1px;
    border-bottom: solid var(--bright) 1px;
    border-right: var(--dark) solid 20px;
    
}

.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover{
background-blend-mode: soft-light;
}
.box3{
    width:49.1%;
    height: auto;
    background-image: url("../pics/lens.jpg");
    
    background-position: center;
    border-left: solid var(--dark) 1px;
    border-top: solid var(--dark) 1px;
    border-bottom: solid var(--dark) 1px;
    border-right: var(--middle) solid 20px;
    

}




.box4{
    width:49.1%;
    height: auto;
    background-image: url("../pics/engin.jpg");
    background-position:center;

    border-left: solid var(--dark) 1px;
    border-top: solid var(--dark) 1px;
    border-bottom: solid var(--dark) 1px;
    border-right: var(--bright) solid 20px;
    

}
.box5{
    width:49.1%;
    height: auto;
    background-image: url("../pics/p1.jpg");
    background-position: center;
    background-size: cover;
    border-left: solid var(--middle) 1px;
    border-top: solid var(--middle) 1px;
    border-bottom: solid var(--middle) 1px;
    border-right: var(--bright) solid 20px;
}
.box6{
    width:49.1%;
    height: auto;
    background-image: url("../pics/blue1.jpg");
    background-position: center;
    background-size: cover;
    border-left: solid var(--dark) 1px;
    border-top: solid var(--dark) 1px;
    border-bottom: solid var(--dark) 1px;
    border-right: var(--middle) solid 20px;
}

.box7{
    width:100%;
    height: auto;
    border-left: solid var(--dark) 1px;
    border-top: solid var(--dark) 1px;
    border-bottom: solid var(--dark) 1px;
    border-right: var(--bright) solid 20px;
}



.contact {
    font-size: 1.5rem;
 line-height: 2;
  font-family:'Nunito', sans-serif;
  list-style: none;
  justify-content: center;
  align-content: center;
}

.contact li{
    margin-left: 2%;
    transition: all ease-in 0.25s; 
}

.contact > li:hover {
    background-color:var(--bright);
}
/* Footer styling*/

footer {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    background:var(--bright);
}



/* Responsiveness */

@media screen and (max-width: 980px) {
    header ul{
        position: unset;
        display: block;
        display: flex;
        justify-content:flex-end;
        list-style: none;
    }

    header> h1 {
        margin-bottom: -7vh;
        z-index: 1;
        margin-left: 2%;
        font-size: 2em;
    }

    .main{ 
        flex-direction: column;
    }
   .box2,
   .box3,
   .box4,
   .box4,
   .box5,
   .box6,
   .box7 {

       min-width: 100%;
   }


  }